ENV=DEV
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
PLAYLIST_BATCH_SIZE=20

# Use these for docker
REDIS_ADDR=redis:6379
REDIS_PASSWORD_DOCKER=abcd
YTBER_GRPC_SERVER_ADDR=ytber:4040
REDIS_PASSWORD=abcd

# Use these for local
#REDIS_ADDR=localhost:6379
#YTBER_GRPC_SERVER_ADDR=localhost:4040
#REDIS_PASSWORD=
