# --- Use these for local
# REDIS_ADDR=localhost:6379
# REDIS_PASSWORD=
# ENV=DEV
# SPOTIFY_CLIENT_ID=
# SPOTIFY_CLIENT_SECRET=
# YTBER_GRPC_SERVER_ADDR=localhost:4040
# PLAYLIST_BATCH_SIZE=50

# --- Use these for docker
REDIS_ADDR=redis:6379
REDIS_PASSWORD=abcd # required to be non null
REDIS_PASSWORD_DOCKER=abcd # required to be non null
ENV=DEV
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
YTBER_GRPC_SERVER_ADDR=ytber:4040
PLAYLIST_BATCH_SIZE=50
