ENV=DEV
SPOTIFY_CLIENT_ID= # required
SPOTIFY_CLIENT_SECRET= # required
PLAYLIST_BATCH_SIZE=20 # optional (keep it ~ number of vCPUs)

# Use these for docker
REDIS_ADDR=redis:6379
REDIS_PASSWORD_DOCKER=abcd # use a stronger password
YTBER_GRPC_SERVER_ADDR=ytber:4040
REDIS_PASSWORD=abcd

# Use these for local
#REDIS_ADDR=localhost:6379
#YTBER_GRPC_SERVER_ADDR=localhost:4040
#REDIS_PASSWORD= # blank password also works
